#ignore data
**data

#ignore results
**/results/

#ignore figures
**/figures/

#ignore outdated code
**/hmc_uq/files_CalibrationStudy/

#ignore logs
**/wandb/
**/logs/*
**/configs/ckpt_paths/*

#ignore profiling
**/profile/

#ignore scipts
**/scripts/


